<!DOCTYPE html>
<html>
	<head>
			<title>Herding Group::BOARD</title>
			<meta charset="utf-8">
			<link rel="stylesheet" type="text/css" href="wall.css">
	</head>
	<body>
	<div style="background-color:#e9eaed; text-align:center;">
		<h1>Write Post</h1>
		<form action="/wall/write_complete" method="post">
			Name<br>
			<input type="text" name="writer" placeholder="What`s your name?"><br>
			Content <br>
			<textarea name="content" cols="40" rows="5" placeholder="Write something..."></textarea><br>
			<input type="submit" value="write">
		</form>
	</div>
	</body>
</html>
